
NUnitTest/.vs/NUnitTest/xs/UserPrefs.xml
NUnitTest/NUnitTest/obj/NUnitTest.csproj.nuget.dgspec.json
NUnitTest/NUnitTest/obj/NUnitTest.csproj.nuget.g.props
NUnitTest/NUnitTest/obj/NUnitTest.csproj.nuget.g.targets
NUnitTest/NUnitTest/obj/project.nuget.cache
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.csprojAssemblyReference.cache
NUnitTest/.vs/NUnitTest/xs/project-cache/NUnitTest-Debug.json
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/nunit.engine.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/nunit.framework.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NUnitTest.deps.json
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NUnitTest.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NUnitTest.pdb
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NUnitTest.runtimeconfig.dev.json
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/NUnitTest.runtimeconfig.json
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/testhost.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.AssemblyInfo.cs
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.AssemblyInfoInputs.cache
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.assets.cache
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.csproj.CopyComplete
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.csproj.CoreCompileInputs.cache
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.csproj.FileListAbsolute.txt
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.dll
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.genruntimeconfig.cache
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.pdb
NUnitTest/NUnitTest/obj/Debug/net5.0/ref/NUnitTest.dll
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.pdb
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.genruntimeconfig.cache
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.GeneratedMSBuildEditorConfig.editorconfig
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.dll
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.csprojAssemblyReference.cache
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.csproj.FileListAbsolute.txt
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.csproj.CoreCompileInputs.cache
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.csproj.CopyComplete
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.assets.cache
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.AssemblyInfoInputs.cache
NUnitTest/NUnitTest/obj/Debug/net5.0/NUnitTest.AssemblyInfo.cs
NUnitTest/NUnitTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/testhost.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/System.Xml.XPath.XmlDocument.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ref/NUnitTest.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/NUnitTest.runtimeconfig.json
NUnitTest/NUnitTest/bin/Debug/net5.0/NUnitTest.runtimeconfig.dev.json
NUnitTest/NUnitTest/bin/Debug/net5.0/NUnitTest.pdb
NUnitTest/NUnitTest/bin/Debug/net5.0/NUnitTest.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/NUnitTest.deps.json
NUnitTest/NUnitTest/bin/Debug/net5.0/nunit_random_seed.tmp
NUnitTest/NUnitTest/bin/Debug/net5.0/NUnit3.TestAdapter.pdb
NUnitTest/NUnitTest/bin/Debug/net5.0/NUnit3.TestAdapter.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/nunit.framework.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/nunit.engine.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/nunit.engine.api.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/NuGet.Frameworks.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Newtonsoft.Json.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/Microsoft.DotNet.InternalAbstractions.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTest/NUnitTest/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
