
NUnitTest/.vs/NUnitTest/xs/UserPrefs.xml
NUnitTest/NUnitTest/obj/NUnitTest.csproj.nuget.dgspec.json
NUnitTest/NUnitTest/obj/NUnitTest.csproj.nuget.g.props
NUnitTest/NUnitTest/obj/NUnitTest.csproj.nuget.g.targets
NUnitTest/NUnitTest/obj/project.assets.json
NUnitTest/NUnitTest/obj/project.nuget.cache
NUnitTest/NUnitTest/obj/Debug/netcoreapp3.1/NUnitTest.csprojAssemblyReference.cache
